@model IEnumerable<MVC.Models.Person>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Middle name</th>
                    <th>Last name</th>
                    <th>Birthday</th>
                    <th>Salary</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.fname</td>
                        <td>@item.mn</td>
                        <td>@item.lname</td>
                        <td>@item.bday</td>
                        <td>@item.salary</td>
                        <td>
                            <a href="@Url.Action("Edit", "Home", new { ID = item.ID })" class="btn btn-primary">Edit</a>
                            <a href="@Url.Action("Delete", "Home", new { ID = item.ID })" class="btn btn-primary">Delete</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

